.main {
    margin: 80px 0 0 200px;
}

.ul {
    font-size: 18px;
    padding: 0;
}

.li {
    text-decoration: none;
    color: black;
}

#sub {
    font-size: 13px;
    margin: 8px 0;
    color: #545454;
}